body{
    font-family:"Hiragino kaku Gothic ProN","メイリオ","sans-serif";
}

h1{
    margin:0 auto;
    width:500px;
    font-size:20px;
    background-color:#f1f1f1;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    border-left:4px solid red;
    margin-top:30px;
    margin-bottom: 20px;

}

form{
    margin: 0 auto;
    width:500px;
    background-color: #fbfbfb;
    border: 3px solid #ebebeb;
    border-radius: 10px;
    padding-bottom:10px;
}

form div{
    padding-top:15px;
    margin-left:15px;
}

.text,textarea,.dropdown{
    border:1px #dfdfdf solid;
    background-color: #fff;
    color:#999;
    padding:5px;
}

.submit{
    border:1px lightgray solid;
    border-bottom:2px gray solid;
    color:white;
    background-color: #bfbfbf;
    border-radius: 5px;
    padding:4px 10px;
}


